openapi: 3.0.0
info:
  title: Parking Space API
  version: 1.0.0
servers:
  - url: http://localhost/api
    description: Local environment
paths:
  /parking-spaces/availability:
    get:
      summary: Parking space availability
      description: Returns a list of available parking spaces for a given date range.
      parameters:
        - name: dateFrom
          in: query
          required: true
          example: 2023-01-01
          schema:
            type: string
            format: date
        - name: dateTo
          in: query
          required: true
          example: 2023-01-08
          schema:
            type: string
            format: date
      responses:
        '200':
          description: A JSON array of parking spaces
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArrayOfParkingSpaces'
        '422':
          $ref: '#/components/responses/Unprocessable'
  /customers/{customerId}/bookings:
    post:
      summary: Create parking space booking
      description: Store a parking space booking for a customer
      parameters:
        - name: customerId
          in: path
          required: true
          schema:
            type: integer
            example: 1
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                parking_space_id:
                  type: integer
                  example: 1
                date_from:
                  type: string
                  format: date
                  example: 2023-08-01
                date_to:
                  type: string
                  format: date
                  example: 2023-08-12
                price_gbp:
                  type: number
                  example: 80.50
      responses:
        '201':
          description: Booking successfully created
          content:
            application/json:
              schema:
                type: object
        '422':
          $ref: '#/components/responses/Unprocessable'

  /customers/{customerId}/bookings/{bookingId}:
    delete:
      summary: Delete parking space booking
      description: Deletes a parking space booking for a customer
      parameters:
        - name: customerId
          in: path
          required: true
          schema:
            type: integer
            example: 1
        - name: bookingId
          in: path
          required: true
          schema:
            type: integer
            example: 1
      responses:
        '204':
          description: No content - successfully deleted
        '404':
          description: Booking not found for customer

components:
  schemas:
    ParkingSpace:
      type: object
      properties:
        parking_space_id:
          type: integer
          example: 1
        location_name:
          type: string
          example: Terminal 1
        total_price_gbp:
          type: number
          example: 120.5
    ArrayOfParkingSpaces:
      type: array
      items:
        $ref: '#/components/schemas/ParkingSpace'
  responses:
    Unprocessable:
      description: Server cannot process the request - typically indicates a validation error
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
              errors:
                type: object
                additionalProperties: true
